<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style = 'color:red'>Agora sim</h1>
    <hr>
    <p>Teste</p>
    <p>Nome  <%=nome %></p>
    <p> Curso <%=curso%> </p>
    <img src='https://static.poder360.com.br/2022/07/nebulosa-carina-nasa-12-jul-2022.png' />

</body>
</html>